//$primary_color:#000073;
$primary_color:#062539;
$primary_color_hover:#041420;
$secondary_color:#03001E;
$light_dark:rgba(0, 0, 0, 0.856);
$border:1px solid rgb(202, 202, 202);
$box_shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);